@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-vue/src/index.scss';
@import './navigation.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
* {
  box-sizing: border-box;
}
html,
body {
  --color-bg: #eaeaea;
  --color-white: #fff;
  --color-nav-bg: #f7f7f7;
  --color-hr-black: 0, 0, 0;
  --color-black: black;
  --color-dark-gray: #444444;
  --color-medium-gray: #676767;
  --color-light-gray: #d9d9d9;

  --color-c1-blue: #00338d;
  --color-c1-blue-second: #00338d;
  --color-c2-cyan: #80e6ff;

  --color-sc1-blue: #001f99;
  --color-sc2-gray: #d9e6e6;
  --color-sc3-orange: #ff5900;
  --color-sc4-yellow: #ffcd19;
  --color-sc5-dark-green: #199919;
  --color-sc6-olive: #b3e600;

  width: 100%;
  margin: 0;
}

#app.dark {
  --color-bg: #575755;
  --color-white: black;
  --color-nav-bg: #252624;
  --color-hr-black: 255, 255, 255;
  --color-black: white;
  --color-dark-gray: #444444;
  --color-medium-gray: #676767;
  --color-light-gray: #d9d9d9;

  --color-c1-blue: #00338d;
  --color-c1-blue-second: white;

  --color-c2-cyan: #80e6ff;

  --color-sc1-blue: #001f99;
  --color-sc2-gray: #d9e6e6;
  --color-sc3-orange: #ff5900;
  --color-sc4-yellow: #ffcd19;
  --color-sc5-dark-green: #199919;
  --color-sc6-olive: #b3e600;
}

#app {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-medium-gray);
  background-color: var(--color-bg);
  position: relative;

  height: 100vh;
  margin: 0;
  .fakeButton {
    border-radius: 50px;
    background-color: var(--color-nav-bg);
    font-weight: bolder;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--color-black);
    padding: 10px 50px;
    cursor: pointer;
    @media (max-width: 991.98px) {
      // font-size: 1.4rem;
      padding: 10px 15px;
    }
    @media (max-width: 767.98px) {
      font-size: 1.4rem;
      padding: 10px 15px;
    }
    @media (max-width: 575.98px) {
      font-size: 1.2rem;
      padding: 10px 10px;
    }
    &:hover {
      background-color: var(--color-c1-blue);
      color: var(--color-white);
    }
  }
}

.router-anim-enter-active {
  animation: coming 0.5s;
  animation-delay: 0.1s;
  opacity: 0;
}
.router-anim-leave-active {
  animation: going 0.5s;
}
@keyframes going {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
    opacity: 0;
  }
}
@keyframes coming {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 90% !important;
  }
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}
