// @import './variables.scss';
.facultiesList {
  .facultyItem {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .year {
    font-size: 1.5rem;
    text-decoration: underline;
    color: var(--color-black);
  }
  ul.TekList {
    position: relative;
    list-style: none;
    &.yearList {
      li:nth-child(even) {
        margin-bottom: 25px !important;
      }
    }
    // overflow-y: scroll;
    &.isMobile {
      li {
        text-align: center;
        padding-left: 0%;
        padding-right: 0%;
        &.post {
          padding-left: 0%;
          padding-right: 0%;
        }
        &.dspp {
          background-color: transparent;
        }
      }
    }
    li {
      text-align: left;
      padding-left: 20%;
      padding-right: 10%;
      &.post {
        padding-left: 40%;
      }

      transition: transform 0.2s;
      @media (max-width: 768px) {
        background-color: var(--color-white);
      }
      font-size: 1.2rem;
      color: var(--color-black);
      border-radius: 10px;
      &:hover {
        transform: scale(1.05);
        z-index: 100;
        background: var(--color-c1-blue);
        color: white;
        box-shadow: 0 5px 25px rgba(#000, $alpha: 0.1);
      }
    }
  }
}

div.tabs ul.nav li.nav-item {
  margin: 5px 10px;
  // .nav-link {
  //   padding: 0.5rem 0.5rem;
  // }
  font-size: 1.5rem;
  color: var(--color-black);
  .active {
    background-color: var(--color-c1-blue);
  }
}
.card {
  border: 1px solid var(--color-nav-bg);
  .card-body {
    background-color: var(--color-nav-bg);
  }
}
.nav {
  justify-content: center;
}
