.navbar-usv {
  width: 100%;
  min-height: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: var(--color-nav-bg);
  -webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.4);
  .navbar {
    padding: 0.5rem 1rem !important;
    .navbar-toggler {
      color: var(--color-c1-blue-second);
      border: none;
      font-size: 2rem;
      &:focus {
        border: none;
        outline: none;
      }
    }
    .not-collapsed {
      transition: 0.7s;
      -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -ms-transition: 0.7s;
      -o-transition: 0.7s;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
    .collapsed {
      transition: 0.7s;
      -webkit-transition: 0.7s;
      -moz-transition: 0.7s;
      -ms-transition: 0.7s;
      -o-transition: 0.7s;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    .nav-item {
      font-size: 1.5rem;
      border-radius: 10px;
      a {
        color: var(--color-black);
      }
      &:hover {
        font-weight: bold;
        background-color: var(--color-c1-blue);
        a {
          color: white;
        }
      }
    }
    .navbar-brand {
      width: 200px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
.navigation-wrapper {
  padding-top: 10px;
}
hr.hrColor {
  border-top: 1px solid rgba(var(--color-hr-black), 0.3);
}
li.nav-item {
  &:hover {
    color: var(--color-c1-blue);
  }
}
div.nightMode {
  display: inline-block;
  .checkbox {
    opacity: 0;
    position: absolute;
  }

  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  }

  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }

  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }

  .fa-moon {
    color: #f1c40f;
  }

  .fa-sun {
    color: #f39c12;
  }
}
.navbar {
  background-color: var(--color-nav-bg);
  background-image: none;
}
