// @import './variables.scss';
.schedule {
  .scheduleTitle {
    h3 {
      color: var(--color-black) !important;
      font-size: 1.5rem;
    }
  }
  overflow: hidden;
}
.schedule table {
  border-collapse: separate;
  border-spacing: 5px 0px;
  border: none;
  margin: auto;
  table-layout: fixed;
  overflow: hidden;
  text-overflow: ellipsis;
  @media (min-width: 1200px) {
    min-width: 1110px;
  }
  //   @media (max-width: 1200px) {
  //     width: calc(100% - 200px);
  //   }
  @media (max-width: 768px) {
    // display: flex;
    width: 100%;
    // border-collapse: collapse;
    // border-spacing: 5px 0px;
  }
  tr.day {
    td:not(:first-child) {
      color: var(--color_black);
      background-color: white;
      text-transform: uppercase;
      font-weight: bold;
      border: 1px solid black;

      width: 140px;
      //   @media (max-width: 768px) {
      //     width: calc(100% - 80px);
      //   }
    }
    td:first-child {
      background-color: var(--color-bg);
      border: none;
    }
  }
  tbody {
    .headDay {
      z-index: 1;
      border-top: none;
    }
    tr {
      &:nth-child(4n),
      &:nth-child(4n-1) {
        background-color: white;
      }
      &:nth-child(4n-2),
      &:nth-child(4n-3) {
        background-color: #eaeae6;
      }
      //   .bodyDay {
      //     width: 100%;
      //   }
      td {
        border: 1px solid black;
        border-top: none;
        color: var(--color_black);
        width: 140px;
        @media (max-width: 768px) {
          width: 80%;
        }
        position: relative;
        max-height: 80px;
        vertical-align: middle;
        &.hideOverflow {
          vertical-align: middle;
          width: 80%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:first-child {
          border: 1px solid black;
          text-transform: uppercase;
          font-weight: bold;
          background-color: white;
          text-align: center;
          vertical-align: middle;
          width: 120px;
          @media (max-width: 768px) {
            width: 10%;
          }
          @media (max-width: 576px) {
            width: 20%;
            // border-collapse: collapse;
            // border-spacing: 5px 0px;
          }
        }
        &:hover {
          .tooltiptext {
            visibility: visible;
            opacity: 1;
          }
        }

        .tooltiptext {
          visibility: hidden;
          max-width: 600px;
          width: 500px;
          background-color: #e2e7ff;
          color: #004;
          text-align: left;
          border-radius: 6px;
          padding: 10px 50px;
          position: absolute;
          z-index: 99999;
          bottom: 125%;
          // right: -250%;
          transform: translateX(-50%);
          opacity: 0;
          transition: opacity 0.5s;
          text-transform: none;
          ul {
            margin-bottom: 0rem;
          }
        }

        .tooltiptext::after {
          content: '';
          position: absolute;
          top: 100%;
          transform: translateX(-50%);
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #00f transparent transparent transparent;
        }
      }
    }
  }
}

.tooltip .tooltip-inner {
  max-width: 500px !important;
  width: 400px !important;
}

tr.legends {
  @media (max-width: 768px) {
    display: none;
  }
  td {
    &:first-child {
      background-color: white !important;
      color: inherit;
      border: 1px solid black !important;
    }
  }
  background-color: white !important;
}
button.inc {
  @media (min-width: 768px) {
    display: none;
  }
}

//   filter: blur(1.5rem);
//   z-index: -1;
//   -webkit-filter: blur(1.5rem);
td.blur {
  translate: tanslateX(1rem);
  display: none;
}

td.interval {
  max-height: 30px !important;
}

.starButton {
  color: gold !important;
  .noStarButton {
    color: black !important;
  }
}
