$color-bg: #eaeaea;
$color-white: #fff;
$color-nav-bg: #f7f7f7;
$color-black: black;
$color-dark-gray: #444444;
$color-medium-gray: #676767;
$color-light-gray: #d9d9d9;

$color-c1-blue: #00338d;
$color-c2-cyan: #80e6ff;

$color-sc1-blue: #001f99;
$color-sc2-gray: #d9e6e6;
$color-sc3-orange: #ff5900;
$color-sc4-yellow: #ffcd19;
$color-sc5-dark-green: #199919;
$color-sc6-olive: #b3e600;

// for themeing
// $color-th2-c1-blue: #00338d;
// $color-th2-c2-cyan: #80e6ff;

// $color-th2-sc1-blue: #001f99;
// $color-th2-sc2-gray: #d9e6e6;
// $color-th2-sc3-orange: #ff5900;
// $color-th2-sc4-yellow: #ffcd19;
// $color-th2-sc5-dark-green: #199919;
// $color-th2-sc6-olive: #b3e600;
