$color-bg: #eaeaea;
$color-white: #f7f7f7;
$color-black: black;
$color-dark-gray: #444444;
$color-medium-gray: #676767;
$color-light-gray: #d9d9d9;
$color-red: red;
$color-green: #8ab963;
$color-blue: blue;
$color-purple: purple;
